{% extends 'base.html.twig' %}

{% block title %}Program index{% endblock %}

{% block body %}
    <h1>Program index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Summary</th>
                <th>Poster</th>
                <th>API_id</th>
                <th>Year</th>
                <th>Runtime</th>
                <th>Awards</th>
                <th>Nb_seasons</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for program in programs %}
            <tr>
                <td>{{ program.id }}</td>
                <td>{{ program.title }}</td>
                <td>{{ program.summary }}</td>
                <td>{{ program.poster }}</td>
                <td>{{ program.APIId }}</td>
                <td>{{ program.year }}</td>
                <td>{{ program.runtime }}</td>
                <td>{{ program.awards }}</td>
                <td>{{ program.nbSeasons }}</td>
                <td>
                    <a href="{{ path('program_show', {'id': program.id}) }}">show</a>
                    <a href="{{ path('program_edit', {'id': program.id}) }}">edit</a>
                </td>
                <td>
                    <ul>
                        {% for actor in program.actors %}
                            <li>{{ actor.name }}</li>
                        {% endfor %}

                    </ul>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('program_new') }}">Create new</a>
{% endblock %}
