{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}
    <h1>Episode</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Program</th>
            <td>{{ episode.season.program.title }} <a href="{{ path('program_show', {'id': episode.season.program.id }) }}">+</a></td>
        </tr>
        <tr>
            <th>Season</th>
            <td>{{ episode.season.number }} <a href="{{ path('wild_show_season', { 'id': episode.season.id }) }}">+</a></td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ episode.title }}</td>
        </tr>
        <tr>
            <th>Number</th>
            <td>{{ episode.number }}</td>
        </tr>
        <tr>
            <th>Synopsis</th>
            <td>{{ episode.synopsis }}</td>
        </tr>
        <tr>
            <th>Released</th>
            <td>{{ episode.released }}</td>
        </tr>
        <tr>
            <th>Poster</th>
            <td>{{ episode.poster }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('wild_show_season', { 'id': episode.season.id }) }}">back to episodes</a>
    <br>
    <a href="{{ path('episode_edit', {'id': episode.id}) }}">edit</a>

    <br><br>
    {% if app.user is not null %}
        <p>Leave a comment</p>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}

        {#
                <form action="" method="post">
                    <label for="rate">Rating</label>
                    <input type="number" step="1" min="0" max="5" name="rate" id="rate" class="form-control">

                    <label for="comment"></label>
                    <textarea name="comment" id="comment" cols="30" rows="10" class="form-control" placeholder="Comment Here ..."></textarea>

                    <button type="submit">Send !</button>
                </form>
        #}
    {% endif %}

    {% for comment in comments %}
        <blockquote>
            {{ comment.rate }} : {{ comment.comment }}
        </blockquote>
    {% endfor %}

{% endblock %}
