{% extends "base.html.twig" %}


{% block body %}
    <section class="container" id="wild_index">
        <h1>All Series : </h1>
        {% for program in programs %}
            <div>
                <h2>
                    {{ loop.index }} / {{ program.title }}
                    <a href="{{ path('wild_show_program', {'programName': program.title }) }}">+</a>
                </h2>
                <p>{{ program.summary }}</p>
            </div>
        {% else %}
            Where are they ???
        {% endfor %}
        <a href="{{ path('app_index') }}">
            Home
        </a>
    </section>
{% endblock %}
